<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/layout-dashboard/layout.html">
<head>
    <meta charset="UTF-8">
    <title>Thêm sản khuyến mại</title>
    <link rel="stylesheet" th:href="@{/adminlte/vendor/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/adminlte/vendor/animate/animate.compat.css}">
    <link rel="stylesheet" th:href="@{/adminlte/vendor/font-awesome/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/adminlte/vendor/boxicons/css/boxicons.min.css}"/>
    <link rel="stylesheet" th:href="@{/adminlte/vendor/magnific-popup/magnific-popup.css}"/>
    <link rel="stylesheet" th:href="@{/adminlte/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css}"/>
    <link rel="stylesheet" th:href="@{/adminlte/vendor/jquery-ui/jquery-ui.css}"/>
    <link rel="stylesheet" th:href="@{/adminlte/vendor/jquery-ui/jquery-ui.theme.css}"/>
    <link rel="stylesheet" th:href="@{/adminlte/vendor/bootstrap-multiselect/css/bootstrap-multiselect.css}"/>
    <link rel="stylesheet" th:href="@{/adminlte/vendor/morris/morris.css}"/>
    <link rel="stylesheet" th:href="@{/adminlte/css/theme.css}"/>
    <link rel="stylesheet" th:href="@{/adminlte/css/custom.css}">
    <link rel="stylesheet" th:href="@{/shop/toastr/toastr.min.css}"/>

    <link rel="stylesheet" th:href="@{/adminlte/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css}"/>
    <link rel="stylesheet" th:href="@{/adminlte/vendor/select2/css/select2.css}"/>
    <link rel="stylesheet" th:href="@{/adminlte/vendor/select2-bootstrap-theme/select2-bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/adminlte/vendor/bootstrap-multiselect/css/bootstrap-multiselect.css}"/>
    <link rel="stylesheet" th:href="@{/adminlte/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css}"/>
    <link rel="stylesheet" th:href="@{/adminlte/vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.css}"/>
    <link rel="stylesheet" th:href="@{/adminlte/vendor/bootstrap-timepicker/css/bootstrap-timepicker.css}"/>
    <link rel="stylesheet" th:href="@{/adminlte/vendor/dropzone/basic.css}"/>
    <link rel="stylesheet" th:href="@{/adminlte/vendor/dropzone/dropzone.css}"/>
    <link rel="stylesheet" th:href="@{/adminlte/vendor/bootstrap-markdown/css/bootstrap-markdown.min.css}"/>
    <link rel="stylesheet" th:href="@{/adminlte/vendor/summernote/summernote-bs4.css}"/>
    <link rel="stylesheet" th:href="@{/adminlte/vendor/codemirror/lib/codemirror.css}"/>
    <link rel="stylesheet" th:href="@{/adminlte/vendor/codemirror/theme/monokai.css}"/>
    <link rel="stylesheet" th:href="@{/adminlte/pagination/simplePagination.css}">
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <style>
        .promotion-box {
            border: 1px solid #cccccc;
        }
    </style>
</head>
<body layout:fragment="content">
<section role="main" id="main-content">
    <header class="page-header">
        <!--        <h2>Editable Tables</h2>-->
        <div class="right-wrapper text-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="bx bx-home-alt"></i>
                    </a>
                </li>
                <li><a th:href="@{/admin/phieugiamgia/list}"><span>Danh sách khuyến mại</span></a></li>
            </ol>
            <a class="sidebar-right-toggle" data-open="sidebar-right"><i
                    class="fas fa-chevron-left"></i></a>
        </div>
    </header>
    <section class="card">
        <header class="card-header">
            <div class="card-actions">
                <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
            </div>
            <h2 class="card-title">Sửa Thông Tin Nhân Viên</h2>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <div class="mb-3">
                        <a th:href="@{/admin/nhan-vien/list}" class="btn btn-primary"><i
                                class="fas fa-chevron-left"></i> Trở về</a>
                        <button type="button" id="addToTable" class="btn btn-primary btn-update-promotion">Cập nhật khuyến mại <i
                                class="fas fa-plus"></i></button>
                        <button id="btn-delete" type="button" class="btn btn-danger btn-delete-promotion">Xóa khuyến mại <i
                                class="fas fa-trash-alt"></i></button>
                    </div>
                </div>
            </div>
        </header>
        <div class="card-body ">
            <!-- Main content -->
            <div class="row">
                <div class="col-lg-4 col-md-8 col-12">
                    <div class="card card-outline">
                        <div class="card-body pad promotion-box">
                            <div class="form-group">
                                <div>
                                    <br>
                                    <label class="required-label" for="email">Email</label>
                                    <span class="invalid-feedback"
                                          id="invalid-feedback-email">Email không hợp lệ</span>
                                </div>
                                <input type="email" class="form-control" id="email" th:value="${nhanVien.idTaiKhoan.email}">
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="required-label" for="sdt">Số điện thoại</label>
                                    <span class="invalid-feedback" id="invalid-feedback-sdt">Số điện thoại không hợp lệ</span>
                                </div>
                                <input type="number" min="1" class="form-control" id="sdt" th:value="${nhanVien.idTaiKhoan.soDienThoai}">
                            </div>
                            <div class="form-group discount-exactly">
                                <div>
                                    <label class="required-label" for="name">Tên</label>
                                    <span class="invalid-feedback" id="invalid-feedback-name">Họ tên không được để trống</span>
                                </div>
                                <input type="number" min="1" class="form-control" id="name" th:value="${nhanVien.idTaiKhoan.ten}">
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="required-label" for="dob">Ngày sinh</label>
                                    <span class="invalid-feedback"
                                          id="invalid-feedback-dob">Thời gian không hợp lệ</span>
                                </div>
                                <input type="date" class="form-control" id="dob" th:value="${#dates.format(nhanVien.idTaiKhoan.ngaySinh, 'yyyy-MM-dd')}">
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="required-label" for="login-name">Tên đăng nhập</label>
                                    <span class="invalid-feedback"
                                          id="invalid-feedback-login-name">Trường này không được phép để trống</span>
                                </div>
                                <input type="date" class="form-control" id="login-name" th:value="${nhanVien.idTaiKhoan.tenDangNhap}">
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="required-label" for="position">Vị trí công việc</label>
                                    <span class="invalid-feedback"
                                          id="invalid-feedback-position">Trường này không được phép để trống</span>
                                </div>
                                <input type="date" class="form-control" id="position" th:value="${nhanVien.position}">
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="required-label" for="department">Bộ phận</label>
                                    <span class="invalid-feedback"
                                          id="invalid-feedback-department">Trường này không được phép để trống</span>
                                </div>
                                <input type="date" class="form-control" id="department" th:value="${nhanVien.department}">
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="required-label" for="cccd">CCCD</label>
                                    <span class="invalid-feedback"
                                          id="invalid-feedback-cccd">Trường này không được phép để trống</span>
                                </div>
                                <input type="date" class="form-control" id="cccd" th:value="${nhanVien.identityCard}">
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="required-label" for="gender">Giới tính</label>
                                    <span class="invalid-feedback"
                                          id="invalid-feedback-gender">Trường này không được phép để trống</span>
                                </div>
                                <select class="form-control" id="gender">
                                    <option value="Nam" th:selected="${nhanVien.gioiTinh == 'Nam'}">Nam</option>
                                    <option value="Nữ" th:selected="${nhanVien.gioiTinh == 'Nữ'}">Nữ</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<script th:src="@{/adminlte/vendor/jquery/jquery.js}"></script>
<script th:src="@{/adminlte/vendor/modernizr/modernizr.js}"></script>
<script th:src="@{/adminlte/vendor/jquery-browser-mobile/jquery.browser.mobile.js}"></script>
<script th:src="@{/adminlte/vendor/jquery-cookie/jquery.cookie.js}"></script>
<!--<script th:src="@{/adminlte/vendor/style-switcher/style.switcher.js}"></script>-->
<!--<script th:src="@{/adminlte/vendor/style-switcher/style.switcher.localstorage.js}"></script>-->
<script th:src="@{/adminlte/vendor/popper/umd/popper.min.js}"></script>
<script th:src="@{/adminlte/vendor/bootstrap/js/bootstrap.js}"></script>
<script th:src="@{/adminlte/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
<script th:src="@{/adminlte/vendor/common/common.js}"></script>
<script th:src="@{/adminlte/vendor/nanoscroller/nanoscroller.js}"></script>
<script th:src="@{/adminlte/vendor/magnific-popup/jquery.magnific-popup.js}"></script>
<script th:src="@{/adminlte/vendor/jquery-placeholder/jquery.placeholder.js}"></script>
<script th:src="@{/adminlte/vendor/jquery-ui/jquery-ui.js}"></script>
<script th:src="@{/adminlte/vendor/jqueryui-touch-punch/jquery.ui.touch-punch.js}"></script>
<script th:src="@{/adminlte/vendor/jquery-appear/jquery.appear.js}"></script>
<script th:src="@{/adminlte/vendor/bootstrap-multiselect/js/bootstrap-multiselect.js}"></script>
<script th:src="@{/adminlte/vendor/jquery.easy-pie-chart/jquery.easypiechart.js}"></script>
<script th:src="@{/adminlte/vendor/flot/jquery.flot.js}"></script>
<script th:src="@{/adminlte/vendor/flot.tooltip/jquery.flot.tooltip.js}"></script>
<script th:src="@{/adminlte/vendor/flot/jquery.flot.pie.js}"></script>
<script th:src="@{/adminlte/vendor/flot/jquery.flot.categories.js}"></script>
<script th:src="@{/adminlte/vendor/flot/jquery.flot.resize.js}"></script>
<script th:src="@{/adminlte/vendor/jquery-sparkline/jquery.sparkline.js}"></script>
<script th:src="@{/adminlte/vendor/raphael/raphael.js}"></script>
<script th:src="@{/adminlte/vendor/morris/morris.js}"></script>
<script th:src="@{/adminlte/vendor/gauge/gauge.js}"></script>
<script th:src="@{/adminlte/vendor/snap.svg/snap.svg.js}"></script>
<script th:src="@{/adminlte/vendor/liquid-meter/liquid.meter.js}"></script>
<script th:src="@{/adminlte/vendor/jqvmap/jquery.vmap.js}"></script>
<script th:src="@{/adminlte/vendor/jqvmap/data/jquery.vmap.sampledata.js}"></script>
<script th:src="@{/adminlte/vendor/jqvmap/maps/jquery.vmap.world.js}"></script>
<script th:src="@{/adminlte/vendor/jqvmap/maps/continents/jquery.vmap.africa.js}"></script>
<script th:src="@{/adminlte/vendor/jqvmap/maps/continents/jquery.vmap.asia.js}"></script>
<script th:src="@{/adminlte/vendor/jqvmap/maps/continents/jquery.vmap.australia.js}"></script>
<script th:src="@{/adminlte/vendor/jqvmap/maps/continents/jquery.vmap.europe.js}"></script>
<script th:src="@{/adminlte/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js}"></script>
<script th:src="@{/adminlte/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js}"></script>

<script th:src="@{/adminlte/vendor/select2/js/select2.js}"></script>
<script th:src="@{/adminlte/vendor/bootstrap-multiselect/js/bootstrap-multiselect.js}"></script>
<script th:src="@{/adminlte/vendor/jquery-maskedinput/jquery.maskedinput.js}"></script>
<script th:src="@{/adminlte/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js}"></script>
<script th:src="@{/adminlte/vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.js}"></script>
<script th:src="@{/adminlte/vendor/bootstrap-timepicker/js/bootstrap-timepicker.js}"></script>
<script th:src="@{/adminlte/vendor/fuelux/js/spinner.js}"></script>
<script th:src="@{/adminlte/vendor/dropzone/dropzone.js}"></script>
<script th:src="@{/adminlte/vendor/bootstrap-markdown/js/markdown.js}"></script>
<script th:src="@{/adminlte/vendor/bootstrap-markdown/js/to-markdown.js}"></script>
<script th:src="@{/adminlte/vendor/bootstrap-markdown/js/bootstrap-markdown.js}"></script>
<script th:src="@{/adminlte/vendor/codemirror/lib/codemirror.js}"></script>
<script th:src="@{/adminlte/vendor/codemirror/addon/selection/active-line.js}"></script>
<script th:src="@{/adminlte/vendor/codemirror/addon/edit/matchbrackets.js}"></script>
<script th:src="@{/adminlte/vendor/codemirror/mode/javascript/javascript.js}"></script>
<script th:src="@{/adminlte/vendor/codemirror/mode/xml/xml.js}"></script>
<script th:src="@{/adminlte/vendor/codemirror/mode/htmlmixed/htmlmixed.js}"></script>
<script th:src="@{/adminlte/vendor/codemirror/mode/css/css.js}"></script>
<script th:src="@{/adminlte/vendor/summernote/summernote-bs4.js}"></script>
<!--<script th:src="@{/adminlte/vendor/bootstrap-maxlength/bootstrap-maxlength.js}"></script>-->
<script th:src="@{/adminlte/vendor/ios7-switch/ios7-switch.js}"></script>
<script th:src="@{/adminlte/js/theme.js}"></script>

<script th:src="@{/adminlte/js/custom.js}"></script>

<script th:src="@{/adminlte/js/theme.init.js}"></script>
<script th:src="@{/adminlte/js/simple.money.format.js}"></script>


<script th:src="@{/adminlte/js/examples/examples.dashboard.js}"></script>
<script type="text/javascript" th:src="@{/shop/toastr/toastr.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.9.0/sweetalert2.all.min.js"></script>
<th:block id="js-resources">
    <script th:inline="javascript">
        $('.btn-update-promotion').click(function () {
            let email = $('#email').val();
            let sdt = $('#sdt').val();
            let name = $('#name').val();
            let dob = $('#dob').val();
            let loginName = $('#login-name').val();
            let position = $('#position').val();
            let department = $('#department').val();
            let cccd = $('#cccd').val();
            let gender = $('#gender').val();
            let isValid = true;

            let regex = new RegExp("^[\\w-\\.]+@([\\w-]+\\.)+[\\w-]{2,4}$");
            let regexSdt = /(84|0[3|5|7|8|9])+([0-9]{8})\b/g;
            if (email.length === 0 || regex.test(email) === false) {
                $('#invalid-feedback-email').show();
                isValid = false;
            }

            if (sdt.length === 0 || regexSdt.test(sdt)) {
                $('#invalid-feedback-sdt').show();
                isValid = false;
            }

            if (name.length === 0) {
                $('#invalid-feedback-name').show();
                isValid = false;
            }

            if (dob.length === 0) {
                $('#invalid-feedback-dob').show();
                isValid = false;
            }

            if (loginName.length === 0) {
                $('#invalid-feedback-dob').show();
                isValid = false;
            }

            if (position.length === 0) {
                $('#invalid-feedback-position').show();
                isValid = false;
            }

            if (department.length === 0) {
                $('#invalid-feedback-department').show();
                isValid = false;
            }

            if(cccd.length === 0){
                $('#invalid-feedback-cccd').show();
                isValid = false;
            }

            if(gender.length === 0){
                $('#invalid-feedback-gender').show();
                isValid = false;
            }

            if (isValid) {
                req = {
                    email: email,
                    sdt: sdt,
                    name: name,
                    dob: dob,
                    loginName: loginName,
                    position : position,
                    department : department,
                    cccd : cccd,
                    gender : gender
                }
                var myJSON = JSON.stringify(req);
                $.ajax({
                    url: '/admin/nhanvien/' + [[${nhanVien.id}]],
                    type: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify(req),
                    success: function (data) {
                        toastr.success("Cập nhật thành công");
                    },
                    error: function (data) {
                        toastr.warning(data.responseJSON.message);
                    }
                })
            }
        });

        $('.btn-delete-promotion').click(function () {
            swal({
                title: 'Xóa thôn tin nhân viên ?',
                text: "Bạn có chắc chắn muốn xóa !",
                type: 'warning',
                showCancelButton: true
            }).then(function (rs) {
                if (rs.value) {
                    $.ajax({
                        url: '/admin/nhanvien/' + [[${nhanVien.id}]],
                        type: 'DELETE',
                        contentType: 'application/json',
                        success: function (data) {
                            toastr.success("Xóa khuyến mãi thành công");
                            setTimeout(function () {
                                location.href = "/admin/nhanvien/list";
                            }, 1000);
                        },
                        error: function (error) {
                            toastr.error(error.responseJSON.message);
                        }
                    })
                }
            })
        })
    </script>
</th:block>
</body>
</html>