<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/layout-dashboard/layout.html"
>
<head>
    <!--    Custom link-->
    <th:block layout:fragment="head_link">
        <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    </th:block>

</head>

<!-- Custom styles for this page -->

<body layout:fragment="content">


<div class="row">
    <!--    Table-->

    <div class="card shadow m-2 w-100 ">
        <div class="card-header py-3">
<!--            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>-->

            <div class="row">
                <h1 class="h3 text-gray-800 col-5">Quản lý màu sắc</h1>
                <!-- Additional controls -->
                <div class="col-7 d-flex justify-content-sm-end align-items-center">
                    <form class="form-inline mr-3 d-flex align-items-center">
                        <label class="mr-2" for="statusFilter">Trạng thái</label>
                        <select id="statusFilter" class="form-control-plaintext w-50 text-primary">
                            <option selected value="">Tất cả</option>
                            <option>Hoạt động</option>
                            <option>Ngưng hoạt động</option>
                        </select>
                    </form>
                    <a id="reload_table" href="#" class="btn btn-primary btn-icon-split mr-2">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-rotate-right"></i>
                                        </span>
                        <span class="text">Làm mới</span>
                    </a>
                    <a href="#" class="btn btn-primary btn-icon-split mr-2" id="btn-add">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-plus"></i>
                                        </span>
                        <span class="text">Thêm mới</span>
                    </a>
                    <a href="#" class="btn btn-primary btn-icon-split mr-2" id="btn-import">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-file-import"></i>
                                        </span>


                        <span class="text">Import</span>
                    </a>
                    <input type="file" class="d-none" id="import-file"/>
                    <a th:href="@{/admin/san-pham-chi-tiet/mau-sac/export-excel}" class="btn btn-primary btn-icon-split" id="btn-export">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-file-export"></i>
                                        </span>
                        <span class="text">Export</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Mã</th>
                        <th>Tên</th>
                        <th>Trạng thái</th>
                        <th>Chỉnh sửa</th>

                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Mã</th>
                        <th>Tên</th>
                        <th>Trạng thái</th>
                        <th>Chỉnh sửa</th>

                    </tr>
                    </tfoot>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--modal edit-->
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="EditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditModalLabel">Chỉnh sửa màu sắc</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form id="from_edit" class="needs-validation" novalidate>
                    <div class="form-group">
                        <label for="edit_Idms">ID màu sắc:</label>
                        <input type="text" class="form-control" id="edit_Idms" placeholder="ID màu sắc" readonly>
                        <div class="invalid-feedback">ID màu sắc không được để trống</div>
                    </div>
                    <div class="form-group">
                        <label for="edit_mms">Mã màu sắc:</label>
                        <input type="text" class="form-control" id="edit_mms" placeholder="Mã màu sắc" required>
                        <div class="invalid-feedback">Mã màu sắc đã tồn tại hoặc không hợp lệ</div>
                    </div>
                    <div class="form-group">
                        <label for="edit_tms">Tên màu sắc:</label>
                        <input type="text" class="form-control" id="edit_tms" placeholder="Tên màu sắc" required>
                        <div class="invalid-feedback">Tên màu sắc không được để trống</div>
                    </div>
                    <div class="form-group">
                        <label for="edit_ttms" class="form-label">Trạng thái</label>
                        <select class="form-control" id="edit_ttms" required>
                        </select>
                        <div class="invalid-feedback">
                            Vui lòng chọn trạng thái
                        </div>
                    </div>
                    <div class="form-group justify-content-end ">
                        <button type="button" class="btn btn-secondary mr-3" data-dismiss="modal">Close</button>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

                </form>
            </div>


        </div>
    </div>
</div>
<!--modal delete-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalDeleteTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Xác nhận xóa <b id="delete_id"></b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn chắc chắn muốn xóa mã màu <b id="delete_ma"></b> ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" id ="delete_confirm" class="btn btn-primary">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
<!--add modal-->
<div class="modal fade" id="modal-add" tabindex="-1" role="dialog" aria-labelledby="modal-addLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-addLabel">Chỉnh sửa màu sắc</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form id="from-add" class="needs-validation" novalidate>
                    <div class="form-group">
                        <label for="add-ma">Mã màu sắc:</label>

                            <input type="text" class="form-control " id="add-ma" placeholder="Mã màu sắc" required>

                        <div class="invalid-feedback">Mã đã tồn tại hoặc không hợp lệ</div>
                    </div>
                    <div class="form-group">
                        <label for="add-ten">Tên màu sắc:</label>
                        <input type="text" class="form-control" id="add-ten" placeholder="Tên màu sắc" required>
                        <div class="invalid-feedback">Tên màu sắc không được để trống</div>
                    </div>
                    <div class="form-group">
                        <label for="add-trangThai" class="form-label">Trạng thái</label>
                        <select class="form-control" id="add-trangThai" required>
                            <option  disabled value="" selected>Chọn...</option>
                            <option value="true">Hoạt động</option>
                            <option value="false">Ngưng hoạt động</option>
                        </select>
                        <div class="invalid-feedback">
                            Vui lòng chọn trạng thái
                        </div>
                    </div>
                    <div class="form-group justify-content-end ">
                        <button type="button" class="btn btn-secondary mr-3" data-dismiss="modal">Close</button>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

                </form>
            </div>


        </div>
    </div>
</div>
</body>

<th:block layout:fragment="bottom_link">
    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/mau-sac.js"></script>
</th:block>
</html>