<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/layout-dashboard/layout.html"
>
<head>
    <!--    Custom link-->
    <th:block layout:fragment="head_link">
        <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
        <script src="/vendor/sweetalert2/sweetalert2.min.js"></script>
        <link href="/vendor/select2/select2.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/admin/kho/kho.css">
    </th:block>

</head>

<!-- Custom styles for this page -->

<body layout:fragment="content">


<div class="row">
    <!--    Table-->

    <div class="card shadow m-2 w-100 ">
        <div class="card-header py-3">
<!--            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>-->

            <div class="row">
                <div class="d-flex col-3" style="line-height: 40px">
                    <a href="/admin/kho" class="mr-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 1-.5.5H3.707l4.147 4.146a.5.5 0 0 1-.708.708l-5-5a.5.5 0 0 1 0-.708l5-5a.5.5 0 0 1 .708.708L3.707 7.5H14.5A.5.5 0 0 1 15 8z"/>
                        </svg>
                    </a>
                    <h3 style="line-height: 40px" class="mb-0">Nhập hàng</h3>
                </div>
                <!-- Additional controls -->
                <div class="col-9 row justify-content-end">

                    <div class=" col-5 mr-3">
                        <select id="select-san-pham" class="form-control-plaintext text-primary" multiple="multiple" required>
                            <option></option>
                        </select>
                    </div>
                    <div>
                        <a id="btn-add" href="#" class="btn btn-primary btn-icon-split mr-2 w-auto">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-plus"></i>
                                        </span>
                            <span style="line-height: 35px; padding: 0px 10px">Thêm</span>
                        </a>
                    </div>


                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-8">
                    <!-- Header Section -->

                    <!-- Table Section -->
                    <div class="table-responsive"style="max-height: 500px; overflow: auto" >
                        <table id="table-san-pham" class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Mã hàng</th>
                                <th scope="col">Tên hàng</th>
                                <th scope="col">Số lượng nhập</th>
                                <th scope="col">Chọn IMEI</th>
                            </tr>
                            </thead>
                            <tbody >

                            </tbody>
                        </table>
                    </div>


                </div>
                <div class="col-4">
                    <div class="table-responsive"style="max-height: 500px; overflow: auto" >
                        <form id="form-imei">
                            <table id="table-imei" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col">STT</th>
                                    <th scope="col">IMEI</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </form>
                    </div>


                </div>
            </div>
            <div class="row">
                <div class="col-8">

                    <div class="text-center mt-4">
                        <p>Thêm sản phẩm từ file excel</p>
                        <p>(Tải về file mẫu: <a href="/api/v1/kho/export_IMEI_TEMPLATE">Excel file</a>)</p>
                        <label for="import-file" class="btn btn-success btn-icon-split mr-2" id="btn-import">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-file-import"></i>
                                        </span>


                            <span class="text">Nhập file excel</span>
                        </label>
                        <input type="file" class="d-none" id="import-file"/>
                    </div>
                </div>
                <div class="col-4">

                    <div class="mt-4">
                        <div class="form-group">
                            <label for="note">Ghi chú</label>
                            <textarea class="form-control" id="note" rows="3"></textarea>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="col-12 text-right p-0 py-2" style="background-color: #f8f9fc">
        <button type="button" onclick="nhapHang()" class="btn btn-primary">Nhập hàng</button>
    </div>
</div>


</body>

<th:block layout:fragment="bottom_link">
    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="/vendor/select2/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>


    <!-- Page level custom scripts -->
    <script  src="/js/admin/kho/nhap-hang.js"></script>
</th:block>
</html>