<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/layout-dashboard/layout.html"
>
<head>
    <!--    Custom link-->
    <th:block layout:fragment="head_link">
        <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
        <script src="/vendor/sweetalert2/sweetalert2.min.js"></script>
        <link href="/vendor/select2/select2.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/admin/kho/kho.css">
    </th:block>

</head>

<!-- Custom styles for this page -->

<body layout:fragment="content">


<div class="row">
    <!--    Table-->

    <div class="card shadow m-2 w-100 ">
        <div class="card-header py-3">
<!--            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>-->

            <div class="row">
                <div class="d-flex col-3" style="line-height: 40px">
                    <a href="#" class="mr-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 1-.5.5H3.707l4.147 4.146a.5.5 0 0 1-.708.708l-5-5a.5.5 0 0 1 0-.708l5-5a.5.5 0 0 1 .708.708L3.707 7.5H14.5A.5.5 0 0 1 15 8z"/>
                        </svg>
                    </a>
                    <h3 style="line-height: 40px" class="mb-0">Nhập hàng</h3>
                </div>
                <!-- Additional controls -->
                <div class="col-9 row justify-content-end">

                    <select id="select-san-pham" class="form-control-plaintext text-primary col-7 mr-3" multiple="multiple" required>
                        <option></option>
                    </select>
                    <div>
                        <a id="btn-add" href="#" class="btn btn-primary btn-icon-split mr-2 w-auto">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-plus"></i>
                                        </span>
                            <span style="line-height: 35px; padding: 0px 10px">Thêm</span>
                        </a>
                    </div>


                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-8">
                    <!-- Header Section -->

                    <!-- Table Section -->
                    <div class="table-responsive"style="max-height: 500px; overflow: auto" >
                        <table id="table-san-pham" class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Mã hàng</th>
                                <th scope="col">Tên hàng</th>
                                <th scope="col">Số lượng nhập</th>
                                <th scope="col">Chọn IMEI</th>
                            </tr>
                            </thead>
                            <tbody >

                            </tbody>
                        </table>
                    </div>

                    <!-- Add from Excel Section -->
                    <div class="text-center mt-4">
                        <p>Thêm sản phẩm từ file excel</p>
                        <p>(Tải về file mẫu: <a href="#">Excel file</a>)</p>
                        <a href="#" class="btn btn-success btn-icon-split mr-2" id="btn-import">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-file-import"></i>
                                        </span>


                            <span class="text">Nhập file excel</span>
                        </a>
                        <input type="file" class="d-none" id="import-file"/>
                    </div>
                </div>
                <div class="col-4">
                    <table id="table-imei" class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">IMEI</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--modal edit-->
<div class="modal fade" id="modal-edit" tabindex="-1" role="dialog" aria-labelledby="EditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditModalLabel">Chỉnh sửa công nghệ màn hình</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form id="form-edit" class="needs-validation" novalidate>
                    <div class="form-group">
                        <label for="edit-id">ID công nghệ màn hình:</label>
                        <input type="text" class="form-control" id="edit-id" placeholder="ID" readonly>
                        <div class="invalid-feedback">ID không được để trống</div>
                    </div>
                    <div class="form-group">
                        <label for="edit-ten">Tên công nghệ màn hình:</label>
                        <input type="text" class="form-control" id="edit-ten" placeholder="Tên công nghệ màn hình" required>
                        <div class="invalid-feedback">Tên công nghệ màn hình đã tồn tại hoặc không hợp lệ</div>
                    </div>
                    <div class="form-group">
                        <label for="edit-link">Đường dẫn chi tiết:</label>
                        <input type="text" class="form-control" id="edit-link" placeholder="Đường dẫn chi tiết" pattern="^$|^((https?:\/\/)?([a-zA-Z0-9\-\_]+\.)+[a-zA-Z]{2,})(:[0-9]{1,5})?(\/[^\s]*)?$">
                        <div class="invalid-feedback">Đường dẫn không hợp lệ</div>
                    </div>
                    <div class="form-group">
                        <label for="edit-deleted" class="form-label">Trạng thái</label>
                        <select class="form-control" id="edit-deleted" required>
                        </select>
                        <div class="invalid-feedback">
                            Vui lòng chọn trạng thái
                        </div>
                    </div>
                    <div class="form-group justify-content-end ">
                        <button type="button" class="btn btn-secondary mr-3" data-dismiss="modal">Hủy</button>

                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                    </div>

                </form>
            </div>


        </div>
    </div>
</div>
<!--add modal-->
<div class="modal fade" id="modal-add" tabindex="-1" role="dialog" aria-labelledby="modal-addLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-addLabel">Thêm mới</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form id="form-add" class="needs-validation" novalidate>
                    <div class="form-group">
                        <label for="add-ten">Tên công nghệ:</label>
                        <input type="text" class="form-control " id="add-ten" placeholder="Tên công nghệ màn hình" required>
                        <div class="invalid-feedback">Tên đã tồn tại hoặc không hợp lệ</div>
                    </div>
                    <div class="form-group">
                        <label for="add-link">Đường dẫn chi tiết:</label>
                        <input type="text" class="form-control" id="add-link" placeholder="Đường dẫn chi tiết" pattern="^$|^((https?:\/\/)?([a-zA-Z0-9\-]+\.)+[a-zA-Z]{2,})(:[0-9]{1,5})?(\/[^\s]*)?$">
                        <div class="invalid-feedback">Đường dẫn không hợp lệ</div>
                    </div>
                    <div class="form-group justify-content-end ">
                        <button type="button" class="btn btn-secondary mr-3" data-dismiss="modal">Hủy</button>

                        <button type="submit" class="btn btn-primary">Xác nhận</button>
                    </div>

                </form>
            </div>


        </div>
    </div>
</div>

</body>

<th:block layout:fragment="bottom_link">
    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="/vendor/select2/select2.min.js"></script>

    <!-- Page level custom scripts -->
    <script  src="/js/admin/kho/nhap-hang.js"></script>
</th:block>
</html>